<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--<bean id="emp" name="employ" class="org.accolite.model.Employee">
        <property name="id" value="1"/>
        <property name="name" value="Bharath"/>
        <property name="emailId" value="123@gmail.com"/>
        <property name="address">
            <ref bean="addr1"></ref>
        </property>
        <property name="phonenumbers">
            <list>
                <value>8293892839</value>
                <value>9239283293</value>
            </list>
        </property>
        <property name="employeeExperienceInField">
            <map>
                <entry key="Devops Engineer" value="3"/>
                <entry key="Software Developer" value="5"/>
            </map>
        </property>
    </bean>
    <bean id="emp1" name="employ1" class="org.accolite.model.Employee">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="Ram"/>
        <constructor-arg name="emailId" value="456@gmail.com"/>
        <constructor-arg name="address">
            <ref bean="addr1"></ref>
        </constructor-arg>
        <constructor-arg>
            <map>
                <entry key="Cloud Engineer" value="3"/>
                <entry key="Flutter Developer" value="5"/>
            </map>
        </constructor-arg>
        <constructor-arg>
            <list>
                <value>352635622</value>
                <value>122535232</value>
            </list>
        </constructor-arg>


    </bean>
    <bean name="address1" id="addr1" class="org.accolite.model.Address">
        <property name="city" value="Tuty"></property>
        <property name="state" value="TamilNadu"></property>
    </bean>-->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/Accolite" />
        <property name="username" value="root"/>
        <property name="password" value="1234"/>

    </bean>
    <bean name="jdbcTemplate" id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref bean = "dataSource"/>
        </property>

    </bean>


</beans>
